#conteudo-tabela{
    padding: 2rem;
}
table {
    width: 90% !important;
    margin-bottom: .5em;
    table-layout: fixed;
    margin:0 auto
    
}

h3.titulo {
    text-align: center;
    margin: 3rem;
    justify-content: center;
    font-size: 25px;
    color: #305359;
}

table, th, td, tr {
    border: 1px #305359 solid;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    
}

tr:hover {
    background-color: antiquewhite;
}


img {
    width: 40px;
    align-items: center;
}

i.bi-suit-heart-fill {
    color: red;
    font-size: 40px;
}

#input-centro{
    text-align: center;
    padding: 2rem;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 10%;
}

#botao-inserir{
    font-size: 20px;
    color: white;
    margin: 2rem;
    padding: 5px;
    border-radius: 7px;
    background-color: var(--button-form);
    cursor: pointer;
    border: none;  
}

.botao-remover{
    font-size: 20px;
    color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 7px;
    background-color: var(--button-form-red);
    cursor: pointer;
    border: none;  
}